autoload: [TRUE]

extensions:
    cms: ZaxCMS\DI\CMSExtension

cms:
    modules:


services:

    routerFactory: ZaxCMS\RouterFactory
    router: @routerFactory::create

    - Zax\Html\Icons\FontAwesome
    nette.templateFactory: Zax\Latte\TemplateFactory